.card:hover {
  width:292px;
  height:500px;
  -webkit-transform: scale(2); 
  -moz-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
.card {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
}
